.footer {
  margin: 24px 0 0;

  &-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;

    &__cr {
      font-family: 'Source Sans Pro';
      font-size: 16px;
      line-height: 27px;
      color: #41517c;
    }

    &__policy {
      font-family: 'Source Sans Pro';
      font-size: 16px;
      line-height: 20px;
      text-decoration-line: underline;
      color: #021751;
      transition: all 0.3s ease;

      &:hover {
        color: #9914b3;
      }
    }
  }
}
